*{
    font-family: 'Times New Roman', Times, serif;
}
.responsive{
    height: 180px;
    width: auto;
    border-radius: 50%;
    margin-top: 2px;
}
p{
    margin-left: 2px; 
}
#wikipedia{
    margin-left: 70%;
}
body {
    padding: 10px;
    background-color:lavenderblush;   
}
.row{
    width: 95%;
    margin-left: 4%;
}